name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  run-cleaning:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Create Databricks config
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_HTTP_PATH: ${{ secrets.DATABRICKS_HTTP_PATH }}
          DATABRICKS_WAREHOUSE_ID: ${{ secrets.DATABRICKS_WAREHOUSE_ID }}
        run: |
          mkdir -p ~/.databricks
          echo "host = ${DATABRICKS_HOST}" > ~/.databricks/config
          echo "token = ${DATABRICKS_TOKEN}" >> ~/.databricks/config
          echo "serverless = true" >> ~/.databricks/config
          echo "warehouse_id = ${DATABRICKS_WAREHOUSE_ID}" >> ~/.databricks/config
          echo "http_path = ${DATABRICKS_HTTP_PATH}" >> ~/.databricks/config
          echo "catalog = workspace" >> ~/.databricks/config
          echo "schema = feature_store_project" >> ~/.databricks/config

      - name: Run data cleaning script
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_HTTP_PATH: ${{ secrets.DATABRICKS_HTTP_PATH }}
          DATABRICKS_WAREHOUSE_ID: ${{ secrets.DATABRICKS_WAREHOUSE_ID }}
        run: |
          python src/cleaning/data_cleaning.py
